<div class="toppage">
  <h1 class="top-head">ようこそ<strong>bookers</strong>へ！</h1>

  <p>
    <strong>bookers</strong>
    ではさまざまな書籍に関するあなたの意見や
  </p>
  
  <p>
    印象を共有し交換することができます
  </p>
  <P>
  <%= link_to "Start",books_path %>
  </P>
</div>